DB_NAME=model_hub_db
DB_USERNAME=postgres
DB_PASSWORD=your_dev_db_password

JWT_SECRET=your_jwt_signing_secret
GOOGLE_CLIENT_ID=your_web_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_web_client_secret
GOOGLE_REDIRECT_URL=http://localhost:8080/auth/google/callback


