DB_NAME=model_hub
DB_USERNAME=postgres
DB_PASSWORD=PASSWORD

# use below for local development, otherwise use prod url without port with /api/
API_URL=http://localhost:8080

JWT_SECRET=SECRET
GOOGLE_CLIENT_ID=CLIENT_ID
GOOGLE_CLIENT_SECRET=CLIENT_SECRET

# use below for local development, otherwise use prod url without port
GOOGLE_REDIRECT_URL=http://localhost:3000/auth/callback

# nginx ssl config for prod
SSL_CRT_PATH=PATH/TO/CRT
SSL_KEY_PATH=PATH/TO/KEY
