# Binaries for programs and plugins
*.dll
*.so
*.dylib

# Build artifacts
/bin/
/obj/
/pkg/

# Vendor dependencies
/vendor/

# Compiled files
*.o
*.a

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo

# IDE and editor settings
.vscode/
.idea/
*.iml

# Test cache
*.test
coverage.out
coverage.html

# Ignoring config.js
api/docs/docs.go
api/docs/swagger.json
api/docs/swagger.yaml

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
go.work.sum

# env files
.env
.env.test

#tmp files
api/tmp/*
api/tmp/main

#dependencies
node_modules

# Python bytecode cache
**/__pycache__/
