# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build artifacts
/bin/
/obj/
/pkg/

# Vendor dependencies
/vendor/

# Go modules
go.sum
go.mod

# Compiled files
*.o
*.a

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo

# IDE and editor settings
.vscode/
.idea/
*.iml

# Test cache
*.test
/cover.out

# Ignoring config.js
api/docs/docs.go
api/docs/swagger.json
api/docs/swagger.yaml

setup/windows/set-env.ps1

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
.env.test

#dependencies
node_modules

#ssh key to VM
ssh-key-2025-02-28.key
